html,body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Microsoft Yahei", -apple-system, Ubuntu, sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#app{
  display: flex;
  height: 100%;
  width: 100%;
  user-select: none;
}